<%- include('./layout/header')%>
    <%- include('./layout/navbar')%>
    
<body>
    <div class="row">
        <div class="column1">
            <ul style="list-style-type: none">
                <li><a class="opened" href="/">Introduction to Data Analytics</a></li>
                <li><a href="/">Markets, Polls & Soc Networks</a></li>
            </ul>
        </div>
        <div class="column2">
            <ul style="list-style-type: none">
                <li><a class="opened" href="/">Oct-27-2023</a></li>
                <li><a href="/">Oct-26-2023</a></li>
            </ul>
           
            
        </div>
        <div class="column3">
             <form id="form" action="/upload?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
                <input type="file" id="dt" name="dt" accept=".jpeg, .jpg, .png"></input>
                <div id='preview'>
                </div>
            <button id="submit">Upload file</button>
            </form>
        </div>
        <div class="column4">
            <%studentdata.forEach((student)=>{%> 
                <h5><a href="person"><%=student.firstName%> <%=student.lastName%></a></h5>
                <h5>Attendance: <%=student.attendance%></h5>
                <%})%> 
        </div>
    </div>
</body>
<script>
    var upload = document.querySelector('#dt');
    var preview = document.querySelector('#preview');
 
    upload.addEventListener('change',function (e) {
        
        var get_file = e.target.files;
 
        var image = document.createElement('img');
        
        var reader = new FileReader();
 

        reader.onload = (function (aImg) {
        if (document.querySelector('#imageid')){
            document.querySelector('#imageid').remove()
        }
            console.log(1);
 
            return function (e) {
                console.log(3);

                aImg.src = e.target.result
            }
        })(image)
 
        if(get_file){
            reader.readAsDataURL(get_file[0]);
            console.log(2);
        }
        image.id="imageid";
        image.width=300;
        image.height=300;
        preview.appendChild(image);
    })
</script>

    
<%-include( './layout/footer')%>